*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.model-container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #8a8ff5;
    height: 300px;
    width: 300px;
}

